
.carsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.car {
  width: 30%;
  padding: 1rem;
}

.car {
  width: 30%;
  padding: 1rem;
}

.car h2 {
  margin: 0;
}

.carRed {
  background-color: rgb(255, 160, 144);
}

.carGreen {
  background-color: rgb(119, 255, 119);
}

.carBlue {
  background-color: rgb(138, 138, 255);
}

.car a:hover {
  cursor: pointer;
}