nav {
  margin-bottom: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding-bottom: .5rem;
  border-bottom: solid 1px gray;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: gray;
}