@layouts.page()



@if(car)
<h1>{{ car.name }}</h1>
@endif

@if(cars)
<h1>Cars</h1>
<div class="carsWrapper">
  @each(car in cars)
  @!component('components/card', { car: car })
  @end
</div>
@endif

@end